
*{
    padding: 0px;
    margin: 0px;
    box-sizing: content-box;
}

body {
    background-color: gray;
    flex-direction: column;
}

main {
    margin: 0%;
    width: 60%;
    height: 60%;
    left: 50%;
    display: block;
    align-self: center;
    position:relative;
    top: 10px;
    left: 20px;
}

button {
  position: absolute;
  top: 60px;
  animation-fill-mode: forwards;
}

img {
    animation: forwards;
    width: 60%;
    height: 60%;
    overflow: visible;
    align-self: center;
}